.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
.products-heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 0;
}

/* .products-heading h1 {
  margin: 0;
} */

.all-products {
  background-color: #111;
  padding: 1rem;
}
