.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  background: black;
}

/* .navbar-left {
  display: flex;
  align-items: center;
} */

.navbar-logo {
  height: 2.7rem;
  width: auto;
  /* width: auto; */
  /* display: block; */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;

}

.navbar-links a {
  color: #111;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
  /* color: rgb(61, 204, 216) */
  color: white;
}

.navbar-links a:hover {
  color: #0070f3;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.cart-button {
  position: relative;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: 29px;
  right: 97px;
  background-color: #e63946; /* red badge */
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  height: 18px;
}
@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-links {
    position: fixed;
    left: -100%;
    top: 75px;
    gap: 0;
    flex-direction: column;
    background-color: #111;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navbar-links li {
    margin: 16px 0;
  }
  .navbar-links.active {
    left: 0;
  }
}